PORT=5000

# Application Timezone (e.g., America/Denver, America/New_York, America/Los_Angeles)
APP_TZ=America/Denver

# AWS Credentionals
AWS_REGION_ID=
AWS_ACCESS_KEY_ID=
AWS_SECURITY_KEY_ID=
AWS_BUCKET_NAME_ID=

# Zoom Credentionals
ACCOUNT_ID=
CLIENT_ID=
CLIENT_SECRET=

# Whatsapp Messages api endpoint
WHATSAPP_API_ENDPOINT=
# WHATSAPP_CLIENT_ID=
# WHATSAPP_CLIENT_SECRET=
VERIFY_TOKEN=
WHATSAPP_API_TOKEN=

# Mongodb connection string
MONGO_URI=

# JWT Secret Key
JWT_SECRET=

# Email Credentials
# EMAIL_HOST=
# EMAIL_PORT=
# EMAIL_USER=
# EMAIL_PASS=


EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
# EMAIL_FROM=