<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your OTP Code</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      line-height: 1.6;
      max-width: 600px;
      margin: auto;
      border: 1px solid #121F2B;
      border-radius: 8px;
      padding: 20px;
      background-color: #121F2B;
    "
  >
    <div style="text-align: center; padding-bottom: 20px">
      <h2 style="color: #fff">Your OTP Code</h2>
      <p style="color: #fff; font-size: 14px">
        Thank you for using our service. Use the code below to complete your
        verification.
      </p>
    </div>
    <div
      style="
        text-align: center;
        padding: 20px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      "
    >
      <p style="font-size: 24px; font-weight: bold; color: #121F2B; margin: 0">
        {{OTP}}
      </p>
    </div>
    <p
      style="
        font-size: 14px;
        color: #fff;
        text-align: center;
        padding-top: 20px;
      "
    >
      If you did not request this code, please ignore this email or contact
      support.
    </p>
    <div
      style="
        text-align: center;
        padding-top: 10px;
        color: #fff;
        font-size: 12px;
      "
    >
      <p>© 2025 Wasatch Waste Management. All rights reserved.</p>
    </div>
  </body>
</html>
